@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=EB+Garamond:ital,wght@1,500&family=Old+Standard+TT&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", cursive;
  color: #01637e;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  font-family: "Cormorant", cursive;
  height: auto;
  padding: 5px;
}

.filter-red {
  filter: invert(80%) sepia(58%) saturate(6884%) hue-rotate(372deg) brightness(106%) contrast(100%);
  opacity: 0.8;
}

.filter-red:hover {
  opacity: 1;
}