@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=EB+Garamond:ital,wght@1,500&family=Old+Standard+TT&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", cursive;
  color: #026b87;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  font-family: "Cormorant", cursive;
  height: auto;
  padding: 5px;
}

nav {
  height: 50px;
  background-color: #fffdd0;
  border-bottom: 2px solid #ceb0f3;
  color: #026b87;
  font-size: medium;
  font-weight: bold;
  padding: 10px 20px;
}

.Title {
  margin: 10px;
}
.Title h1 {
  font-family: "Old Standard TT", sans-serif;
  padding: 10px 20px;
  text-align: center;
  font-size: 4.5rem;
  text-decoration: underline #a10606;
}
.Title p {
  margin: 0 1.45%;
  font-family: "EB Garamond", cursive;
}

.subTitle {
  padding: 10px 10px;
  text-align: left;
  font-size: 3rem;
  text-decoration: underline #a10606;
}

.PortfolioProject {
  width: 200px;
  height: 200px;
  background-color: #fafafa;
  text-align: left;
  margin: 10px 10px;
  padding: 20px 20px;
  color: #026b87;
  border: 2px dashed #ceb0f3;
}
.PortfolioProject img {
  object-fit: contain;
}

.SelfIntro img {
  height: 300px;
  width: auto;
  padding: 10px 10px;
  border: 2px dashed #ceb0f3;
  background-color: #fafafa;
}
.SelfIntro p {
  padding: 10px;
}

.SelfIntroLeft {
  height: auto;
  width: 300px;
  margin: 10px;
  border-bottom: 2px dashed #ceb0f3;
}

.About-Box {
  text-align: start;
  width: 350px;
  padding: 20px;
}
.About-Box li {
  padding: 10px;
  list-style: none;
}

footer {
  background-color: #fffdd0;
  font-size: 20px;
  border-top: 2px solid #ceb0f3;
  height: auto;
  padding: 10px 10px;
}