@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=EB+Garamond:ital,wght@1,500&family=Old+Standard+TT&display=swap');

$font-title: "Old Standard TT" , sans-serif;
$font-body: "EB Garamond", cursive;
$font-links: "Cormorant", cursive;

$color-secondary: #ceb0f3;
$color-primary:#01637e;
$color-pink: pink;
$color-tertiary: #fffdd0;
$color-underline: #a10606;

$small-space: 10px;
$med-space: 20px;

$main-border:2px solid $color-secondary;
$dashed-border:2px dashed $color-underline;

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
    text-align: center;
}



a:link,
a:visited {
    text-decoration: none;
    font-family: $font-links;
    height: auto;
    padding: 5px;
}

  .filter-red{
    filter: invert(80%) sepia(58%) saturate(6884%) hue-rotate(372deg) brightness(106%) contrast(100%);
    opacity: 0.8;
}
.filter-red:hover{
    opacity: 1;
}

