@use "basic.scss" as *;

nav {
    height: 50px;
    background-color: $color-tertiary;
    border-bottom: $main-border;
    color: $color-primary;

  }
  
  a:hover{
      text-decoration: underline $color-underline;
  }
  
  .Intro {
    padding-bottom: $med-space;
    h1 {
      font-family: $font-title;
      padding: 50px;
      text-align: center;
      font-size: 4rem;
      text-decoration: underline $color-underline;
    }
    p {
      margin: 0 1.45%;
      font-family: $font-body;
    }
  }

  .SelfIntro {
    img {
      height: 300px;
      width: auto;
      padding: $small-space $small-space;
      margin-bottom: $small-space;
      border: $dashed-border;
      border-radius: 100px;
      background-color: $color-tertiary;
    }
    p {
      padding: $small-space;
    }
  }
  .SelfIntroLeft {
    height: auto;
    width: 300px;
    margin: $small-space;
    border-bottom: $dashed-border;
  }
  
  .subTitle {
    padding-top: $med-space;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline $color-underline;
    margin-top: $small-space;
    &--borded{
      border-top: 2px solid $color-pink;
    }
  }

  .PortfolioProjects{
    padding: $med-space;
    .PortfolioProject {
      width: 200px;
      height: auto;
      text-align: left;
      margin: $small-space;
      border-radius: $med-space;
      background-color: $color-tertiary;
      color: $color-primary;
      border: $dashed-border;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        width: 80%;
        opacity: 0.5;
      }
      img:hover{
        background-color: $color-tertiary;
        opacity: 1;
      }
    }
  }
 

  .Technical{
      text-align: center;
      padding: $med-space;
      &-Skills{
        width: 100px;
        height: auto;
        img{
          width: 64px;
          height: 64px;
        }
        p{
          padding: 10%;
        }
      }
  } 

  .About {
      padding-bottom: 40px;
    &-Box {
      text-align: start;
      width: 350px;
      li {
        padding: $small-space;
        list-style: none;
      }
      li:hover{
        summary{
          color: $color-underline;
        }
       
      }
    }
  }

  
footer{
    background-color: $color-tertiary;
    font-size: $med-space;
    border-top: $main-border;
    height: auto;
    padding: $small-space $small-space;
    img{
      width: 64px;
      opacity: 0.5;
    }
    img:hover{
      opacity: 1;
    }
  }
  
 
 
