@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=EB+Garamond:ital,wght@1,500&family=Old+Standard+TT&display=swap");
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SelfIntro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.PortfolioProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.About {
  padding: 1% 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", cursive;
  color: #026b87;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  font-family: "Cormorant", cursive;
  height: auto;
  padding: 5px;
}

nav {
  height: 50px;
  background-color: #fffdd0;
  border-bottom: 2px solid #ceb0f3;
  color: #026b87;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

a:hover {
  text-decoration: underline #a10606;
}

.Title h1 {
  font-family: "Old Standard TT", sans-serif;
  padding: 50px;
  text-align: center;
  font-size: 4.5rem;
  text-decoration: underline #a10606;
}
.Title p {
  margin: 0 1.45%;
  font-family: "EB Garamond", cursive;
}

.subTitle {
  padding: 20px;
  text-align: left;
  font-size: 2rem;
  text-decoration: underline #a10606;
}

.PortfolioProject {
  width: 200px;
  height: auto;
  background-color: #fafafa;
  text-align: left;
  margin: 20px;
  border-radius: 20px;
  color: #026b87;
  border: 2px dashed #a10606;
}
.PortfolioProject img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  width: 80%;
  opacity: 0.5;
}
.PortfolioProject img:hover {
  background-color: #fffdd0;
  opacity: 1;
}

.Technical {
  text-align: center;
}

.SelfIntro img {
  height: 300px;
  width: auto;
  padding: 10px 10px;
  border: 2px dashed #a10606;
  border-radius: 100px;
  background-color: #fafafa;
}
.SelfIntro p {
  padding: 10px;
}

.SelfIntroLeft {
  height: auto;
  width: 300px;
  margin: 10px;
  border-bottom: 2px dashed #a10606;
}

.About {
  padding: 20px;
}
.About-Box {
  text-align: start;
  width: 350px;
  padding: 20px;
}
.About-Box li {
  padding: 10px;
  list-style: none;
}

footer {
  background-color: #fffdd0;
  font-size: 20px;
  border-top: 2px solid #ceb0f3;
  height: auto;
  padding: 10px 10px;
}
footer img {
  width: 64px;
}